section{
    padding: 10px;
}
section th{
    background: #3182ce;
    border-right: 3px solid #fff;
    color: #fff !important;
}   
section td{
    background: #fff;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
section td button{
    margin-right: 10px;
}
.container{
    margin: 25px;
    padding: 15px;
}
.btn-wrap{
    margin-bottom: 100px;
}
.table-wrap{
    margin-top: 50px;
}
.main-btn{
    float: right;
}
 
/* forms */
.form input,
.form textarea,
.form Select {
    background-color: #fff;
}
.form1 input,
.form1 textarea,
.form1 Select {
    width:30%;
    background-color: #fff;
}
.form p,
.form1 p,
.clr-red{
    color:red;
}
.btn{
    margin-top:50px;
}
.desp{  
    max-width: 10px !important;
}
.reg{
    text-decoration: underline;
}
.widt{
    width:52% !important;
}