section{
    padding: 10px;
}
section th{
    background: #3182ce;
    border-right: 3px solid #fff;
    color: #fff !important;
}   
section td{
    background: #fff;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
section td button{
    margin-right: 10px;
}
.container{
    margin: 25px;
    padding: 15px;
}
.btn-wrap{
    margin-bottom: 100px;
}
.table-wrap{
    margin-top: 50px;
}
.main-btn{
    float: right;
}
 
/* forms */
.form input,
.form textarea,
.form Select {
    width: 30%;
    background-color: #fff;
}